<link rel="stylesheet" href="/css/edit.css">

<div class="container my-4 d-flex" id="edit-style">
  <div class="row w-100 justify-content-center me-5">
    <!-- Profile Picture Card -->
    <div class="col-md-4 pe-3 d-flex justify-content-center">
      <div class="card" style="width: 250px; height: 200px;">
        <img src="{{user.profile_picture}}" class="card-img-top" alt="Profile Picture"
          style="width: 100%; height: auto; max-height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">{{user.username}}</h5>
        </div>
      </div>
    </div>
    <!-- Edit Profile Form Card -->
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title text-center">Edit Profile</h5>
          <form id="edit-profile-form">
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input type="text" class="form-control" id="username" name="username" value="{{user.username}}">
            </div>
            <div class="mb-3">
              <label for="bio" class="form-label">Bio:</label>
              <textarea class="form-control" id="bio" name="bio">{{user.bio}}</textarea>
            </div>
            <div class="mb-3">
              <label for="profile_picture" class="form-label">Profile Picture <span>(url)</span>:</label>
              <input type="text" class="form-control" id="profile_picture" name="profile_picture"
                value="{{user.profile_picture}}">
            </div>
            <div class="mb-3">
              <label for="favorite_anime" class="form-label">Favorite Anime:</label>
              <input type="text" class="form-control" id="favorite_anime" name="favorite_anime"
                value="{{user.favorite_anime}}">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">New Password <span>(optional)</span></label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="d-flex justify-content-evenly">
              <button type="submit" class="btn btn-primary w-48"><a href="/profile/edit" id="save-btn">Save
                  Changes</a></button>
              <button id="delete-profile" class="btn btn-danger w-48">Delete Profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>
